*{
    margin: 0;
    padding: 0;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
}
.head{
    position: relative;
    width: 100%;
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #665c84;
    color: #fbeed7;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-shadow: 0px 0px 2px #ffba5a;
}
.logo{
    margin-left: 15px;
}
    .logo img{
        position: absolute;
        top: 1px;
        width: 130px;
        z-index: 2;
    }
.nav-show .badge {
    position: relative;
    font-size: 12px;
    left: 8px;
    top: -8px;
    padding: 2px 6px;
    border-radius: 50%;
    background-color: red;
    color: white;
  }
    .nav-show li{
        margin-right: 15px;
        display: inline-block;
    }
    .nav-show a{
        color: #fbeed7;
        text-decoration: none;
    }
    .nav-show a:hover{
        color: #ff7657;
    }

.nav{
   display: none;
   margin-right: 15px;
   position: absolute;
   top: 44px;
   width: 100%;
   background: #fbeed7;
   box-shadow: 0px 10px 10px rgba(50, 50, 50, 0.3);
}
    .nav a{
        text-decoration: none;
        display: block;
        width: 100%;
        text-align: center;
        height: 30px;
        color: #665c84;
        line-height: 30px;
    }
    .nav a:hover{
        color: #ff7657;
    }

.toggle{
    display: none;
    font-size: 17px;
}
    .toggle .badge {
        position: relative;
        font-size: 12px;
        left: 8px;
        top: -8px;
        padding: 2px 6px;
        border-radius: 50%;
        background-color: red;
        color: white;
      }
    .toggle a{
        color: #fbeed7;
        text-decoration: none;
    }
    .toggle a:hover{
        color: #ff7657;
    }
    .toggle li{
        margin-right: 15px;
        display: inline-block;
    }
.openMenu{
    font-size: 18px;
    background: none;
    border: none;
    outline: none;
    color: #fbeed7;
    text-shadow: 0px 0px 2px #ffba5a;
}
    .openMenu:active{
        color: #ff7657;
    }
.menu{
    padding-top: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.cart-menu{
    padding-top: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.shop{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 14px;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
}   
    .shop .box-img{
        width: 150px;
        height: 110px;
        overflow: hidden;
    }
    .shop img{
        width: 100%;
    }
    .shop .add-cart{
        background: none;
        border: none;
        border-radius: 20px;
        outline: none;
        font-size: 15px;
        margin-bottom: 4px;
        padding: 3px;
        text-shadow: 0px 0px 2px #ffba5a;
        color: #665c84;
    }
    .shop .add-cart:hover{
        color: grey;
    }
    .shop .add-cart:active{
        color: #ff7657;
    }
@media only screen and (max-width: 420px) {
    .nav-show {
        display: none;
    }
     .toggle{
        display:inline-block;
        margin-right: 15px;
     }
     .shop{
        width: 120px;
     }
        .shop .box-img{
            width: 125px;
            height: 95px;
            overflow: hidden;
        }
}